.nav-item-pro{
  background: #ffdd40;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif, sans-serif;
  font-size: 71%;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1px 6px 2px 5px;
  color: black !important;
  position: relative;
  top: -1px;
  text-shadow: none;
  white-space: nowrap;
  letter-spacing: 0;
  border-radius: 2px;
}
