.home-page-body{
  width: 100%;
}
.home-page-body-header{
  margin: auto;
  padding: 3rem 2rem;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  max-width: 1200px;
}
